.section {
	background-color: #0a0d27;
}
.navHeading p span,
.correction {
	background-image: linear-gradient(90deg, #5b54e9, #29bdec);
	background-clip: text;
	color: transparent;
	cursor: pointer;
}

.next-pre button {
	background: linear-gradient(90deg, #5b54e9, #29bdec);
	border-radius: 50px;
}

.exploreBtn {
	background: linear-gradient(90deg, #5b54e9, #29bdec);
}
.storyBtn {
	background-color: #2b2d48;
}
.cartDetails {
	background: linear-gradient(0deg, #050a21, #1a1c40);
}
.questBtn {
	background: linear-gradient(#2b2d48, #2b2d48) padding-box,
		linear-gradient(90deg, #5b54e9, #29bdec) border-box;
	border: 3px solid transparent;
	border-radius: 50px;
}

.mainCard {
	background: linear-gradient(#2b2d48, #2b2d48) padding-box,
		linear-gradient(90deg, #5b54e9, #29bdec) border-box;
	border: 1px dashed #2b2d48;
	border-radius: 5px;
	stroke-dasharray: 10;
	stroke-width: 5px;
}

.Wordexplore,
.Storyadvenure,
.cartOption {
	background: linear-gradient(90deg, #5b54e9, #18a9d5);
	border-radius: 5px;
}
.Wordexplore p {
	height: 3.2rem;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.ans {
	background-image: linear-gradient(90deg, #98d86d, #ccf361);
	background-clip: text;
	color: transparent;
	cursor: pointer;
	transition: 0.2s;
}

.previousBtn {
	float: left;
}
.nextBtn {
	float: right;
}
